header {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* color: white; */
    
    background-image:"https://www.pinterest.com/pin/350577152219786848/"
  }
  
  span{
    font-size: 1.5rem;
    text-align: center;
  }
  
  h1{
    font-size: 5rem;
    text-align: center;

  
    
  }

  
  