* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  html, body, #root {
    padding: 0 px;
    margin: 0px;
    background-attachment: fixed;
    /* position: relative; */
    background-image:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/73bb21b7-aef3-4052-9046-a6332ef706d5/da62dtt-577fddd6-e290-4037-a625-1831a809c096.png/v1/fill/w_1192,h_670,q_70,strp/spongebob_background_thing_by_lwb_the_fluffymystic_da62dtt-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcLzczYmIyMWI3LWFlZjMtNDA1Mi05MDQ2LWE2MzMyZWY3MDZkNVwvZGE2MmR0dC01NzdmZGRkNi1lMjkwLTQwMzctYTYyNS0xODMxYTgwOWMwOTYucG5nIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.WM4m2mOg5YgkKC7y7dN9rWsUVdRznFA-LRqi1_YJVPw") ;
    background-size: cover;
    
  }